body {
    background-color: burlywood;
    background-blend-mode: hard-light ;

}
div {
    color: rebeccapurple;
}
.gray {
    background-color: gray;
    color: white;
}
#my-name {
    color:red;
    border-bottom-color: brown;
}
h1 {
    color: navy;
    font-size: 36px ;
}
h1:hover {
    background-color: blueviolet;
    color: white;
}